.Movies {
  margin: auto;
  width: 220px;
  height: 350px;
  margin-bottom: 10px;
  cursor: pointer;
}

.Movies img {
  width: 100%;
  height: 85%;
  object-fit: cover;
}

.image-container p {
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 1px;
  font-weight: 600;
}
.more-info {
  border-radius: 5px;
  border: solid hsl(28, 79%, 51%) 1px;
  color: white;
  background-color: #e67e23;
  cursor: pointer;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

.more-info:hover {
  background-color: #df362d;
}
