@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300&display=swap");

)
* {
  box-sizing: border-box;
}

body {
  background: black;
  color: #ffff;
  font-family: "Noto Sans HK", sans-serif;
}

.movie-show > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.movie-show {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin: 5px;
  flex-wrap: wrap;
  flex-direction: row;
}
