@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300&display=swap");

)
* {
  box-sizing: border-box;
}

body {
  background: black;
  color: #ffff;
  font-family: "Noto Sans HK", sans-serif;
}

.heading {
  text-align: center;
  color: #ffff;
}

.movie-show > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.movie-show {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin: 5px;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
}

.search-cont {
  align-items: center;
}
.button {
  background-color: #e67e22; /* Green */
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 24px;
  text-align: right;
  text-decoration: none;
  font-size: 12px;
  box-shadow: 3em;
  align-items: right;
  margin-left: 7.5%;
}

.button:hover {
  background-color: #d35400;
  cursor: pointer;
}

.button-clear {
  background-color: #e74c3c; /* Green */
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 24px;
  text-align: right;
  text-decoration: none;
  font-size: 12px;
  box-shadow: 3em;
  align-items: right;
  margin-left: 7.5%;
}

.button-clear:hover {
  background-color: #c0392b;
  cursor: pointer;
}

.search-form {
  align-items: center;
  padding: 10px 24px;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

@media (max-width: 800px) {
  .movie-show {
    flex-direction: column;
  }
}
