@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: black;
  color: #ffff;
  font-family: "Noto Sans HK", sans-serif;
}

.heading {
  text-align: center;
  color: #ffff;
}

.movie-show > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.movie-show {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin: 5px;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
}

.button {
  background-color: #e67e22; /* Green */
  display: inline-block;
  color: white;
  padding: 10px 24px;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 100px;
  font-weight: 900;
  font-size: 12px;
  box-shadow: 3em;
  align-items: right;
  margin-left: 7.5%;
}

.button:hover {
  background-color: #d35400;
  cursor: pointer;
}

.button-clear {
  background-color: #e74c3c; /* Green */
  border: none;
  color: white;
  padding: 10px 24px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 100px;
  font-weight: 900;
  font-size: 12px;
  box-shadow: 3em;
  align-items: right;
  margin-left: 7.5%;
  border-radius: 100px;
  font-weight: 900;
}

.button-clear:hover {
  background-color: #c0392b;
  cursor: pointer;
}

.search-form {
  display: inline-block;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10px;
  padding: 10px 24px;
  align-items: flex-start;
  height: 50px;
  width: 45px;
  border-radius: 100px;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
  border-color: #ffff;
  border-style: solid;
  text-align: center;
  background-color: #888888;
  text-emphasis-color: black;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

@media (max-width: 800px) {
  .movie-show {
    flex-direction: column;
  }
}
